.login-page-wrapper {
    padding: 0 !important;
    background: radial-gradient(circle at center,
            #b2e6d1 10%,
            #cce8da 25%,
            #ffffff 65%);
    min-height: 100vh;
    overflow-x: hidden;
}

.login-left-section {
    display: flex;
    flex-direction: column;
    padding-left: 20% !important;
    padding-top: 140px;
}

.form-content {
    max-width: 420px;
    width: 100%;
}

.form-content h2 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 2px;
}

.form-content p {
    color: #666;
    margin-bottom: 5px;
}
.logo-container {
  position: absolute;
  top: 20px;
  left: 30px;
  
  padding-left: 40px !important;
  display: flex;
  align-items: center;
  gap: 10px !important;
}
.top-logo {

  position: absolute;
  filter: invert(1);
  padding-left: 45px;
  width: 150px;
  height: auto;
  z-index: 999;

}

.small-logo {
  height: 35px;
}

.input-label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #000000 !important;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 15px 10px 45px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background: #fff;
    outline: none;
}

.input-icon {
    position: absolute;
    left: 15px;
    color: #000000;
}

.login-options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 14px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.forgot-pass {
    cursor: pointer;
    color: #333;
}

.signin-btn {
    width: 100%;
    padding: 12px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.google-btn {
    width: 100%;
    padding: 10px;
    background: white;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signup-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.signup-link span {
    color: #2ecc71;
    font-weight: 700;
    cursor: pointer;
}

.error-text {
    color: #ff4d4d;
    font-size: 11px;
    margin-top: 5px;
}

.login-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-section img {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 60px;
    padding-top: 15px;
    height: 96vh;

}
.eye {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}