.page-bg {
  position: relative;
}


.global-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}


.content {
  position: relative;
  z-index: 2;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(5px);
  transition: background 0.3s ease;

}


.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(to right, #117E11 0%, #249524 50%, #107E10 100%);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;

}

.header p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;


}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-top: -50px;
}

.overlay h1 {
  font-size: 4rem;
  letter-spacing: -1.5px;
  word-spacing: -3px;

  font-family: "Poppins", sans-serif;
  padding-bottom: 50px !important;
}

.overlay p {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  margin-top: -80px !important;
}

.buttons {
  margin-top: 20px;
}

.buy {
  background: #75EA8B;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 12px 35px;
  border-radius: 10px;
  margin-right: 10px;
}

.telegram {
  background: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  border-radius: 10px;
  padding: 12px 45px;
}

.logo img {
  padding-left: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: white;
}

.nav-links {
  background: rgba(41, 39, 39, 0.832);
  ;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #7c7e7f;
}

.nav-number {
  color: #00ff88;
  margin-right: 4px;
}

.nav-links a:hover {
  color: #00ff88;
}

.nav-links a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-btns {
  padding-right: 70px;
}

.login {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  background: transparent;
  color: white;
  text-decoration: none;
}

.funded {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  margin: 0 10px;
  padding: 12px 20px;
  background: rgba(105, 99, 99, 0.341);
  color: white;
  border-radius: 50px;
  text-decoration: none;

}

.nav-btns a:hover {
  color: #00ff88;
}

.arrow {
  color: #00ff88;
  padding-left: 5px;
  align-items: center;
}

.highlights-section {
  position: relative;
  padding-top: 80;
  color: white;
  z-index: 2;
}

/* BOX */
.highlights-box {
  display: flex;
  width: fit-content;
  margin: 0 auto !important;
  justify-content: space-between;
  align-items: center !important;
  gap: 20px;
  padding: 25px 100px;

  border: 1px solid #00ff88;
  border-radius: 15px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 20px rgba(0, 255, 136, 0.2);
}

/* ITEMS */
.item {
  padding: 0 30px;
  text-align: center !important;
  font-size: 25px;
  font-weight: 500;
}

/* DIVIDER */
.divider {
  width: 1px;
  height: 30px;
  background: #00ff88;
}

/* BUTTON */
.key {
  padding-top: 30px;
  text-align: center;
}

.highlight-btn {
  position: relative;
  display: block;
  margin: 25px auto 0 auto;
  padding: 10px 20px;
  align-items: center !important;
  text-align: center;
  border-radius: 12px;

  background: #75EA8B;

  font-weight: 500;
}


/* TEXT */
.highlight-text {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #ccc;
  line-height: 1.6;
}

.highlights-wrapper {
  position: relative;
  padding-top: 35px;
  width: 100%;
  height: 100vh;
  /* 🔥 IMPORTANT */

}

.blackvideo {
  position: absolute;


  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 0;
}

/* 🔥 MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .highlights-box {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .item {
    font-size: 16px;
  }

  .highlight-text {
    font-size: 14px;
    padding: 0 10px;
  }
}


/* 🔥 BOX */
.feature-box {
  position: relative;
  margin: 20px;
  padding-left: 30px;
  border-left: 2px solid #00ff88;
}

/* PLUS ICON */
.plus {
  position: absolute;
  left: -15px;
  top: -5px;
  font-size: 24px;
  color: #00ff88;
}

/* TITLE */
.feature-box h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* TEXT */
.feature-box p {
  color: #ccc;
  line-height: 1.6;
  font-size: 15px;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .feature-box {
    margin: 15px 0;
  }

  .feature-box h3 {
    font-size: 20px;
  }
}